<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <body>
        <div class="main-content">
            {{!-- //load header file from partials/header.hbs --}}
            {{>header}}
            <h5>{{errorMessage}}</h5>
        </div>
        {{!-- //load footer file from partials/footer.hbs --}}
        {{>footer}}
    </body>
</body>

</html>