<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{!-- //load header file from partials/header.hbs --}}
        {{>header}}
        <h4>This is Body {{body}}</h4>
        <img src="/img/1538993841988.jpg" class="portrait">
    </div>

    {{!-- //load footer file from partials/footer.hbs --}}
    {{>footer}}
</body>

</html>