<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{!-- //load header file from partials/header.hbs --}}
        {{>header}}
        <h4>This is Body {{body}}</h4>

        <form >
            <input placeholder="Enter City">
            <button onsubmit="">Search</button>
        </form>

        <p id="msg_one"></p>
        <p id="msg_two"></p>
    </div>

    {{!-- //load footer file from partials/footer.hbs --}}
    {{>footer}}
    <script src="/js/app.js"></script>

</body>

</html>